*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #dbe3f7;
}
#global{
  width: 900px;
  margin: auto;
}
header, footer{
  box-sizing: border-box;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  height: 150px;
  padding-top: 30px;
  width: 100%;
  background-color: #7e7c7c;
}
header > h1{
  float: none;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
}
nav ul {
  font-size: 1em;
  text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
  height: 50px;
}
nav {
  background-color:  rgb(184, 217, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}
nav ul li {
  background-color: rgb(184, 217, 255);
	float: left;
	position: relative;
  width: 160px;
}

nav ul li a {
  height: 50px;
	display: block;
	padding: 0 10px;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
  color: black;
  border-radius: 8px;
}

nav ul li:hover {
	background: rgb(156, 201, 253);
}

nav ul ul {
  text-align: left;
	display: none;
	position: absolute;
	top: 50px;
}

nav ul li:hover > ul {
	display: inherit;
}

nav ul ul li {
	float: none;
	width: 200px;
}

nav ul ul a {
	line-height: 40px;
}

.imagen{
  display: block; /*Para que ocupe todo el ancho disponible*/
  margin: 0 auto; /*Esto centra horizontalmente la imagen*/
  
  
}
.izquierda > img{
  width: 180px;
  height: 100px;
  float: left;
  }
.derecha > img{
width: 120px;
height: 120px;
float: right;
}

main{
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #fff1c4;
}
section{
  width: 1200px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 6px 6px 4px rgb(0, 0, 0 ),
              -6px -6px 4px rgb(0, 0, 0 ),
              -6px 6px 4px rgb(0, 0, 0 ),
              6px -6px 4px rgb(0, 0, 0 );
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #FFF;
}
section > h1{
  text-align: center;
  color: #FFF;
  text-shadow: 1px 0px #000,
               0px 1px #000,
               -1px 0px #000,
               0px -1px #000,
               3px 3px 3px rgba(0, 0, 0, 0.5);
}
section > p{
  text-align: justify;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 400;
  color: #010F58;
  margin-top: 10px;
  margin-bottom: 15px;
}
footer > p{
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #141313;
  text-shadow: 1px 0 #FFFFFF,
              -1px 0 #FFFFFF,
               0 1px #FFFFFF,
               0 -1px #FFFFFF;
}
.botonR{
  text-align: center;
  background-color: #000;
  border: none;
  height: 45px;
  width: 100px;
  outline: none;
  color: #FFF;
  border-radius: 10px;
  float: right;
  margin: 0px 8px 0px 10px;
  cursor: pointer;
  padding: 3px;
}

/*----------------------- FORMULARIO -----------------------*/
#formu{
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-sizing: border-box;
  border: 2px solid #020585;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}
#titFormu{
  width: 0 auto;
  height: 70px;
  background-color: #000000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 2px solid #000000;
  padding-top: 15px;
}
#titFormu > h2,h1{
  text-align: center;
  font-size: 1.7em;
  font-family: helvetica;
  font-weight: bold;
  color: #000000;
}
.entradaS{
  width: 220px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 2px;
  outline: none;
  margin-top: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  margin-left: 10px;
  background-color: #f9f9f9;

}
#formu label,.entrada{
  font-weight: 700;
  margin-left: 10px;
  background-color: #ffffff;
}
#formu .entrada{
  width: 150px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 2px;
  outline: none;
  margin-top: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#formu .CajonGrande{
  width: 190px;
  height: 80px;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 2px;
  outline: none;
  margin-top: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#formu .boton{
  background-color: rgba(182, 155, 0, 0.7); 
  border: none;
  height: 45px;
  width: 100px;
  outline: none;
  color: #FFF;
  border-radius: 10px;
  float: right;
  margin: 0px 8px 0px 10px;
  cursor: pointer;
  padding: 3px;
}
#formu .boton:hover{
  transition: 1000ms;
  background-color: rgb(182, 155, 0);
}
#formu .entrada:valid, .CajonGrande:valid, .entradaS:valid{
  transition: 800ms;
  color: #000;
  border: 1px solid #00BB03;
}
#formu .entrada:invalid, .CajonGrande:invalid, .entradaS:invalid{
  transition: 500ms;
  color: #FC0505;
}
#formu .error{
  width: 310px;
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: block;
  color: #f70000;
  font-size: 0.8em;
  box-sizing: border-box;
  margin-left: 10px;
}
#formu .error.active{
  padding: 0.2em;
}
#formu .opcRadio{
  margin-left: 100px;
  width: 20px;
  height: 20px;
  margin-bottom: 60px;
  padding: 2px;
  margin-top: 10px;
}
/*----------------------- TABLA -----------------------*/
table{
  font-family: sans-serif;
  font-size: 1em;
  margin: auto;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 1px 1px 8px 1px #000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
tr{
  padding: 8px;
  background-color: #FFF;
  color: #000;
  border-top: 1px solid transparent;
}
th{
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}
td{
  background-color: #FFF;
  color: #000;
  font-weight: 700;
  text-align: justify;
}
caption{
  font-weight: bold;
  font-size: 1.8em;
  background-color: #353535;
  padding: 20px;
  color: #FFF;
  box-shadow: 1px 0px 8px 1px #000;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
